.container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    overflow-x: hidden;
    background: #fff
}
@keyframes pulse {
    0% {box-shadow: 0 0 0 0 rgba(26, 26, 26, 0.2);}
    70% {box-shadow: 0 0 0 120px transparent;}
    100% {box-shadow: 0 0 0 0 transparent;}
}
.cover {
    position: absolute;
    bottom: 5%;
    right: 16%
}
.cover h1, 
.cover h2 {
    font-family: 'Karla';
    text-rendering: optimizeLegibility;
    font-size: 60px;
    color: #1a1a1a;
    line-height: .8em;
    font-weight: 100;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display:block;
}
.cover h2 {
    opacity: .2    
}

.hero {
    position: absolute;
    width: 1170px;
    height: 492px;
    left: 30px;
    top: 0px;
}
    
